<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>To-Do lists</title>
        <!--
          When runserver sees the request, it knows that it’s for a static file because it begins with /static/. It then tries to find a file called bootstrap/css/bootstrap.min.css, looking in each of our app folders for subfolders called static, and it should find it at lists/static/bootstrap/css/bootstrap.min.css.
        -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/base.css" rel="stylesheet">
    </head>
    <body>
       <!--
        To get our browser to send a POST request, we need to do two things:

            Give the <input> element a name= attribute
            Wrap it in a <form> tag with method="POST".

        -->
      <div class="container">

          <div class="row">
              <div class="col-md-6 col-md-offset-3 jumbotron">
                  <div class="text-center">
                      <h1>{% block header_text %}{% endblock %}</h1>

                          <form method="POST" action="{% block form_action %}{% endblock %}">
                          <!--
                            This is now using a template. { { form.text } } renders just the HTML input for the text field of the form.
                          -->
                            {{ form.text }}
                            {% csrf_token %}
                            <!--
                            form.errors contains a list of all the errors for the form
                            -->
                            {% if form.errors %}
                                <div class="form-group has-error">
                      <!-- 
                      <form method="POST" action="{ % block form_action % }{ % endblock % }">
                          <input name="text" id="text"
                                 class="form-control input-lg"
                                 placeholder="Enter a to-do item"
                          />
                      -->
                              <!--
                                like empty lists or repeated entries.
                                form.text.errors is a list of just the errors for the text field
                              -->
                                  <span class="help-block">{{ form.text.errors }}</span>
                              </div>
                          {% endif %}
                      </form>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  {% block table %}
                  {% endblock %}
              </div>
          </div>

      </div> <!-- class=container -->
      <script src="http://code.jquery.com/jquery.min.js"></script>
      <script src="/static/list.js"></script>
    </body>
</html>
