<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>To-Do lists</title>
        <!--
          When runserver sees the request, it knows that it’s for a static file because it begins with /static/. It then tries to find a file called bootstrap/css/bootstrap.min.css, looking in each of our app folders for subfolders called static, and it should find it at lists/static/bootstrap/css/bootstrap.min.css.
        -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/base.css" rel="stylesheet">
    </head>
    <body>
       <!--
        To get our browser to send a POST request, we need to do two things:

            Give the <input> element a name= attribute
            Wrap it in a <form> tag with method="POST".

        -->
      <div class="container">
          <!--
            Bootstrap has some built-in classes for navigation bars
          -->
          <nav class="navbar navbar-default" role="navigation">
            <a class="navbar-brand" href="/">Superlists</a>
            {% if user.email %}
                <a class="btn navbar-btn navbar-right" id="id_logout" href="{% url 'logout' %}">Log out</a>
                <span class="navbar-text navbar-right">Logged in as {{ user.email }}</span>
            {% else %}
                <a class="btn navbar-btn navbar-right" id="id_login" href="#">Sign in</a>
            {% endif %}
        </nav>

          <div class="row">
              <div class="col-md-6 col-md-offset-3 jumbotron">
                  <div class="text-center">
                      <h1>{% block header_text %}{% endblock %}</h1>

                          <form method="POST" action="{% block form_action %}{% endblock %}">
                          <!--
                            This is now using a template. { { form.text } } renders just the HTML input for the text field of the form.
                          -->
                            {{ form.text }}
                            {% csrf_token %}
                            <!--
                            form.errors contains a list of all the errors for the form
                            -->
                            {% if form.errors %}
                                <div class="form-group has-error">
                      <!-- 
                      <form method="POST" action="{ % block form_action % }{ % endblock % }">
                          <input name="text" id="text"
                                 class="form-control input-lg"
                                 placeholder="Enter a to-do item"
                          />
                      -->
                              <!--
                                like empty lists or repeated entries.
                                form.text.errors is a list of just the errors for the text field
                              -->
                                  <span class="help-block">{{ form.text.errors }}</span>
                              </div>
                          {% endif %}
                      </form>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  {% block table %}
                  {% endblock %}
              </div>
          </div>

      </div> <!-- class=container -->
      <script src="http://code.jquery.com/jquery.min.js"></script>
      <script src="https://login.persona.org/include.js"></script>
      <script src="/static/accounts.js"></script>
      <script src="/static/list.js"></script>
      <script>
          $(document).ready(function() {
            var user = "{{ user.email }}" || null;
            var token = "{{ csrf_token }}";
            var urls = {
                login: "{% url 'persona_login' %}",
                logout: "TODO",
            };
            /*
               specified that our initialize function will be namespaced inside some nested objects, Superlists_Project.Accounts_App. JavaScript suffers from a programming model that’s tied into a global scope, and this sort of namespacing/naming convention helps to keep things under control. Lots of JavaScript libraries might want to call a function initialize, but very few will call it Superlists_Project.Accounts_App.initialize
            */
              Superlists_Project.Accounts_App.initialize(navigator, user, token, urls);
          });
      </script>
    </body>
</html>