<html>
    <head>
        <title>To-Do lists</title>
    </head>
    <body>
        <!--
            To get our browser to send a POST request, we need to do two things:

                Give the <input> element a name= attribute
                Wrap it in a <form> tag with method="POST".

        -->
        <h1>Start a new To-Do list</h1>
        <form method="POST" action="/lists/new">
            <!-- temp fix to get window alignment topass FT -->
            <p style="text-align: center;">
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
            {% csrf_token %}
        </form>
    </body>
</html>